absl-py
appnope
astroid
astunparse
backcall
cachetools
certifi
chardet
click
decorator
deepface
dlib
face-recognition
face-recognition-models
filelock
Flask
gast
gdown
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
imutils
ipykernel
ipython
ipython-genutils
isort
itsdangerous
jedi
Jinja2
jupyter-client
jupyter-core
Keras
Keras-Preprocessing
lazy-object-proxy
Markdown
MarkupSafe
mccabe
numpy
oauthlib
opencv-python
opt-einsum
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
Pygments
pylint
PySocks
python-dateutil
pytz
PyYAML
pyzmq
requests
requests-oauthlib
rsa
scipy
six
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
toml
tornado
tqdm
traitlets
typed-ast
urllib3
wcwidth
Werkzeug
wrapt
zipp
